.grid {
  margin: 3rem auto;
  /* border: 10px solid salmon;
  background-color: salmon; */
}

.cell {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  /* background-color: slateblue; */
}

.media {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 50%; /* = 100% - 2*5% padding */
  width: 50%; /* = 100% - 2*5% padding */
  padding: 10%;
}

.cat {
  position: absolute;
  top: 69%;
  height: 75%;
  width: auto;
  -webkit-animation: slide 1.5s forwards ease-in;
  animation: slide 1.5s forwards ease-in;
}

.catOut {
  position: absolute;
  height: 75%;
  width: auto;
  -webkit-animation: slideOut 1s forwards ease-out;
  animation: slideOut 1s forwards ease-out;
}

@keyframes slide {
  100% { top: 10%; }
}

@keyframes slideOut {
  100% {top: 69%}
}

.box {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: auto;
}